<div class="row">
    <div class="col-md-12">
        <label>Message:</label><br/>
        <textarea name="referralMessage" ng-model='ref.referral.message' rows=10 cols=100 required></textarea>
        <br/><br/>
        <input class="btn btn-success" href="#" role="button" ng-click="ref.submitReferral(form)" type="submit"
               value="Submit">
        <progressbar class="progress-striped active" value="100" type="info" ng-show="ref.progressBar"
                     style="display: inline-block; margin:0 0 0 10px; width:250px;">Sending Request...
        </progressbar>
    </div>
</div>