
<!--
/*=========================================================================
* @author Derry Everson
*
* Work:
** https://www.catalystmedicalgroup.com
** deverson@valleymedicalcenter.com
*
* Date: 09/12/2019
*========================================================================*/
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="cardiacClearanceApp">
<head>
  <title>Cardiac Clearance</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="PRAGMA" content="NO-CACHE" />
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
  <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9" />
  <!-- JS -->
  <script src="../../HtmlLibraries/jquery/js/3.3.1/jquery.min.js"></script>
  <script src="../../HtmlLibraries/angularjs/1.7.8/angular.min.js"></script>
  <script src="../../HtmlLibraries/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../../HtmlLibraries/centricity/external_Functions.js" type="text/javascript"></script>
  <script src="js/primaryController.js" type="text/javascript"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="../../HtmlLibraries/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/cardiacclearance.css">
  <!-- Required for ES5 Explorer Date picking is not built in yet -->
  <script src="../../HtmlLibraries/moment/moment.js"></script>
  <script src="../../HtmlLibraries/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../../HtmlLibraries/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />



</head>

<body ng-controller="cardiacClearanceController">
  <div class="container"><!-- FIRST CONTAINER START -->

    <div class="row"><!-- FIRST ROW START -->
      <div class="col-sm-12 center">
        <h1 class="inline center">Cardiac Clearance</h1>
      </div>
    </div><!-- FIRST ROW END -->

    <div class="row"><!-- SECOND ROW START -->
      <div class="col-xs-6">
        <div class="input-group" ng-mouseover="">
          <span class="input-group-addon"><strong>Patient Name:</strong></span>
          <input class="form-control" type="text" placeholder="Patient Name" ng-model="ccForm.patientName" ng-change="" ng-class="">
        </div>
        <div class="input-group" ng-mouseover="">
          <span class="input-group-addon"><strong>Procedure:</strong></span>
          <input class="form-control" type="text" placeholder="Procedure" ng-model="ccForm.procedure" ng-change="" ng-class="">
        </div>
        <div class="input-group" ng-mouseover="">
          <span class="input-group-addon"><strong>Surgeon:</strong></span>
          <input class="form-control" type="text" placeholder="Surgeion" ng-model="ccForm.surgeon" ng-change="" ng-class="">
        </div>
      </div>

      <div class="col-xs-6">
        <div class="input-group date" ng-mouseover="" id='datetimepicker1'>
          <span class="input-group-addon"><strong>DOB:</strong></span>
          <input class="form-control" type="text" placeholder="mm/dd/yyyy" ng-model="ccForm.dob" ng-change="" ng-class="">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="input-group date" ng-mouseover="" id='datetimepicker2'>
          <span class="input-group-addon"><strong>Date:</strong></span>
          <input class="form-control" type="text" placeholder="mm/dd/yyyy" ng-model="ccForm.procedureDate" ng-change="" ng-class="">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>


      </div>
    </div><!-- SECOND ROW START -->

    <div class="row"><!-- THIRD ROW START -->
      <div class="col-xs-12">
        <h5><u>Patient history necessitating evaluation because of: (check all that apply)</u></h5>
        <div class="columns">
          <ul>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx1" ng-model="checkboxModel.value01" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx1">Heart attack</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx2" ng-model="checkboxModel.value02" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx2">Heart stent</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx3" ng-model="checkboxModel.value03" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx3">Heart bypass surgery</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx4" ng-model="checkboxModel.value04" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx4">Heart valve replaced</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx5" ng-model="checkboxModel.value05" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx5">Heart Transplant</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx6" ng-model="checkboxModel.value06" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx6">Atrial fibrillation</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx7" ng-model="checkboxModel.value07" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx7">No physician following heart problem / history</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx8" ng-model="checkboxModel.value08" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx8">No heart evaluation / checkup within last 6 months</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx9" ng-model="checkboxModel.value09" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx9">Had eval / checkup within 6 months. Need office notes and this form completed</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx10" ng-model="checkboxModel.value10" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx10">Other:<textarea class="form-control" id="inlineChkbxTextarea1" rows="2"></textarea></label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- THIRD ROW START -->



    <div class="row"><!-- FOURTH ROW START -->
      <div class="col-xs-12">
        <hr>
        <h4>Completed by Cardiologist / Primary M.D. who follows heart condition (below)</h4>
        <hr>
      </div>
    </div><!-- FOURTH ROW END -->


    <div class="row"><!-- FIFTH ROW START -->
      <div class="col-xs-12">
        <h5>Perioperative Management Recommendations:</h5>
        <p>Please evaluate the cardiovascular status and current therapy of this
          patient in preperation for the proposed surgery. Fax this form, pertinent
          history, and test results to SJRMC Pre-Surgery Clinic:
          Fax: {{ccForm.surgeryFax}} Phone:{{ccForm.surgeonPhone}}
        </p>
      </div>
      <div class="col-xs-12">
        <div class="columns">
          <ul>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx11" ng-model="checkboxModel.value11" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx11">No pre-op cardiovascular testing is required</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx12" ng-model="checkboxModel.value12" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx12">Cardiac Cath</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx13" ng-model="checkboxModel.value13" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx13">Echocardiogram</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx14" ng-model="checkboxModel.value14" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx14">Stress Test</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx15" ng-model="checkboxModel.value15" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx15">TEE</label>
              </div>
            </li>
            <li>
              <div class="inline chkbx">
                <input class="form-check-input" type="checkbox" name="inlineChkbxOptions" id="inlineChkbx16" ng-model="checkboxModel.value16" ng-change="setClockScore(radio)">
                <label class="form-check-label" for="inlineChkbx16">Other:<textarea class="form-control" id="inlineChkbxTextarea2" rows="1"></textarea></label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- FOURTH ROW END -->

    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
















  </div><!-- FIRST CONTAINER END -->



  <div class="container"><!-- SECOND CONTAINER START -->
    <div class="row"><!-- FIRST ROW START -->
      <div class="col-sm-12">
        <h3 class="inline">Step 2: Clock Drawing</h3>
        <button type="button" class="btn btn-primary btn-xs inline btn-align" data-toggle="modal" data-target="#examplesModal">Examples</button>
      </div>
    </div><!-- FIRST ROW END -->

    <div class="row"><!-- SECOND ROW START -->
      <div class="col-sm-12">
        <p>Say: “Next, I want you to draw a clock for me. First, put in all of the numbers where they go.” When that is completed, say: “Now, set the hands to 10 past 11.”</p>
        <!-- <p>Use preprinted circle (see next page) for this exercise. Repeat instructions as needed as this is not a memory test. Move to Step 3 if the clock is not complete within three minutes.</p> -->
        <p>Repeat instructions as needed as this is not a memory test. Move to Step 3 if the clock is not complete within three minutes.</p>
      </div>
      <div class="col-sm-12">
        <div class="inline chkbx">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2" ng-model="radio" ng-change="setClockScore(radio)">
          <label class="form-check-label" for="inlineRadio1">Normal</label>
        </div>
        <div class="inline chkbx">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" ng-model="radio" ng-change="setClockScore(radio)">
          <label class="form-check-label" for="inlineRadio2">Abnormal</label>
        </div>
        <div class="inline chkbx">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="0" ng-model="radio" ng-change="setClockScore(radio)">
          <label class="form-check-label" for="inlineRadio3">Unable / Refused</label>
        </div>
      </div>
    </div><!-- SECOND ROW END -->

    <hr>

    <hr>

  </div><!-- SECOND CONTAINER END -->

  <div class="container"><!-- THIRD CONTAINER START -->
    <div class="row"><!-- FIRST ROW START -->
      <div class="col-sm-12">
        <h3 class="inline">Step 3: Three Word Recall</h3><p class="inline padLeft textRed">Version {{recallVersion.version}}</p>
      </div>
      <div class="col-sm-12">
        <p>Ask the person to recall the three words you stated in Step 1 without cueing. Say: “What were the three words I asked you to remember?”.</p>
      </div>
      <div class="col-sm-12">
        <div class="input-group" ng-mouseover="setWordScore(recallVersion,A1,A2,A3)">
          <span class="input-group-addon"><strong>Patient’s Answers:</strong></span>
          <input class="form-control" type="text" placeholder="First" value="" ng-model="A1" ng-change="setWordScore(recallVersion,A1,A2,A3)" ng-class="{'color-green': CA1, 'color-red': !CA1}">
          <span class="input-group-addon input-group-separator"></span>
          <input class="form-control" type="text" placeholder="Second" value="" ng-model="A2" ng-change="setWordScore(recallVersion,A1,A2,A3)" ng-class="{'color-green': CA2, 'color-red': !CA2}">
          <span class="input-group-addon input-group-separator"></span>
          <input class="form-control" type="text" placeholder="Third" value="" ng-model="A3" ng-change="setWordScore(recallVersion,A1,A2,A3)" ng-class="{'color-green': CA3, 'color-red': !CA3}">
        </div>
        <small class="textRed center">Note: Fields are auto filled, if the patient answer differs from above, please edit the appropriate field(s).</small>
      </div>
    </div><!-- FIRST ROW END -->
    <hr>
  </div><!-- THIRD CONTAINER END -->

  <div class="container"><!-- FOURTH CONTAINER START -->
    <div class="row"><!-- FIRST ROW START -->
      <div class="col-sm-12">
        <h3>Scoring</h3>
      </div>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="col-sm-4">
                <p>Word Recall: <u><strong>{{scores.word}}</strong><strong ng-show="scores.word >= 0"> Points</strong></u></p>
              </td>
              <td class="col-sm-8">
                <p>1 point for each word spontaneously recalled without cueing.</p>
              </td>
            </tr>
            <tr>
              <td class="col-sm-4">
                <p>Clock Draw: <u><strong>{{scores.clock}}</strong><strong ng-show="scores.clock >= 0"> Points</strong></u></p>
              </td>
              <td class="col-sm-8">
                <p>Normal clock = 2 points. A normal clock has all numbers placed in the correct sequence and approximately correct position (e.g., 12, 3, 6 and 9 are in anchor positions) with no missing or duplicate numbers. Hands are pointing to the 11 and 2 (11:10). Hand length is not scored. Inability or refusal to draw a clock (abnormal) = 0 points.</p>
              </td>
            </tr>
            <tr>
              <td class="col-sm-4">
                <p>Total Score: <u><strong>{{scores.total}}</strong><strong ng-show="scores.total >= 0"> Points</strong></u></p>
              </td>
              <td class="col-sm-8">
                <p>Total score = Word Recall score + Clock Draw score.</p>
                <p>A cut point of < 3 on the Mini-Cog™ has been validated for dementia screening, but many individuals with clinically meaningful cognitive impairment will score higher. When greater sensitivity is desired, a cut point of < 4 is recommended as it may indicate a need for further evaluation of cognitive status.</p>
              </td>
            </tr>
            <!-- Comment block and refused followup checkbox -->
            <tr ng-show="scores.total < 3">
              <td class="col-sm-4">
                <div class="inline chkbx">
                  <input class="form-check-input" type="checkbox" name="inlinecheckboxOption" id="inlineCheckbox" value="1" ng-model="checkbox" ng-change="setRefuseFollowup(checkbox)">
                  <label class="form-check-label" for="inlineCheckbox">Patient Refused Follow Up </label>
                </div>
              </td>
              <td class="col-sm-8">
                <div class="form-group">
                  <label for="additionalComments">Additional Comments</label>
                  <textarea class="form-control" id="additionalComments" rows="3" ng-model="comments" ng-change="setAdditionalComments(comments)""></textarea>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- FIRST ROW END -->
    <hr>
  </div><!-- FOURTH CONTAINER END -->

  <!-- Modal -->
  <div class="modal fade" id="examplesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <h4 class="center">Normal Clock</h4>
              <p>&nbsp;</p>
              <img class="img-responsive" src="images/clock-normal.gif" alt="normal clock">
            </div>
            <div class="col-sm-4">
              <h4 class="center">Abnormal Clock</h4>
              <p class="center">(abnormal hands)</p>
              <img class="img-responsive" src="images/clock-abnormal-hands.gif" alt="normal clock">
            </div>
            <div class="col-sm-4">
              <h4 class="center">Abnormal Clock</h4>
              <p class="center">(missing number)</p>
              <img class="img-responsive" src="images/clock-abnormal-numbers.gif" alt="normal clock">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <small class="center">Mini-Cog © S. Borson. All rights reserved. Reprinted with permission of the author solely for clinical and educational purposes. May not be modified or used for commercial, marketing, or research purposes without permission of the author (soob@uw.edu).</small>
      </div>
    </div>
  </div>
</footer>

</html>
